<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <header class="header">
        <div class="logo-container">
            <img src="../img/logodm.png" onclick="location.href='@Url.Action("index", "Home")'" alt="Dream Match Logo" class="logo" />
        </div>
        <nav class="nav">
            <a href='@Url.Action("pruebas", "Home")' class="nav-link">Pruebas</a>
            <a href='@Url.Action("motivacion", "Home")' class="nav-link">Motivación</a>
            <a href='@Url.Action("contacto", "Home")' class="nav-link">Contacto</a>
            <a href='@Url.Action("desafios", "Home")' class="nav-link">Desafíos dream</a>
            <a href='@Url.Action("recomendaciones", "Home")' class="nav-link">Recomendaciones</a>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Buscar..." class="search-input" />
            <img src="../img/iconlog.png" onclick="location.href='@Url.Action("LogIn", "Home")'" alt="Iniciar sesión" class="user-icon" />
        </div>
    </header>

                                        

    <main role="main">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
