@{
    ViewData["Title"] = "LogIn";
}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body class="cuerpo">
    <div class="login-container">
        <h2 class="login-title">Log in</h2>
       
        <form action="@Url.Action("IniciarSesion", "Account")" method="post" class="login-form">
            <label for="gmail" class="login-label">Gmail</label>
            <input type="email" id="gmail" name="gmail" class="login-input" placeholder="Gmail" required>

            <label for="contraseña" class="login-label">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" class="login-input" placeholder="Contraseña" required>

            <button type="submit" class="login-button">Iniciar Sesión</button>
<<<<<<< HEAD
            <p> @ViewBag.Message </p>
=======

            @if (TempData["ErrorMessage"] != null)
            {
                <div style="color: red;">@TempData["ErrorMessage"]</div>
            }
>>>>>>> df10297d3461c135556744efac4c4206b5ce252b
        </form>

        <div class="login-extra-options">
            <a href="@Url.Action("olvidecontraseña", "Home")" class="login-forgot-password">¿Olvidaste tu Contraseña?</a>

            <div class="login-social-icons">
                <div class="login-icon"><img src="../img/google.png"></div>
                <div class="login-icon"><img src="../img/facebook.png"></div>
                <div class="login-icon"><img src="../img/asd.png"></div>
            </div>

            <p class="login-register-text">¿No tienes cuenta? <a href="@Url.Action("registro", "Home")" class="login-register-link">Registrate <b>Aqui</b></a></p>
        </div>
    </div>
</body>
</html>
